.container {
  display: flex;
}
.ingredient-placeholder {
  display: block;
  min-width: 200px;
  height:vh;
  background-color: lavender;
}

.ingredients {
  position: fixed;
  top: 20px;
  right: 20px;
}

.timer-form {
  padding: 200px,0,0,0;
}