body {
  background-color: #FAF1C4;
}

.container {
  display: flex;
  width: 100%;
}

.saved-timer {
  display:flex;
  flex-direction: column;
  width: 33%;
}

h1 {
   color: #7c795d;
   font-family: 'Trocchi', serif;
   font-size: 45px;
   font-weight: normal;
   line-height: 48px;
   margin: 0;
}

h3 {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}
.ingredient-placeholder {
  display: block;
  min-width: 33%;
  height: vh;
  min-height:900px;
  background-color: #FBEFB5;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}

.ingredients {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
}

.timer-form {
  padding: 200px,0,0,0;
}

.recipe-container {
  width: 33%;
}

.saved-recipes, .timer-container {
  background-color: #FBEFB5;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}
