body {
  background-color: #FAF1C4;
}

.container {
  display: flex;
  width: 100%;
}

.saved-timer {
  display:flex;
  flex-direction: column;
  width: 25%;
}

h1 {
   text-align: center;
   color: #7c795d;
   font-family: 'Trocchi', serif;
   font-size: 55px;
   font-weight: normal;
   line-height: 48px;
   margin: 5px;
}


h3 {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 20px;
  padding: 1em;
}
.ingredient-placeholder {
  display: block;
  min-width: 25%;
  height: vh;
  min-height:900px;
  background-color: #FBEFB5;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}

ul li {
  list-style-type: none;
  padding: 1em;
  font-size: 18px
}

.ingredients {
  display: flex;
  /* position: fixed; */
  top: 20px;
  right: 20px;
}

.timer-form {
  padding: 200px,0,0,0;
}

.recipe-container {
  width: 50%;
}

.saved-recipes, .timer-container {
  background-color: #FBEFB5;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}
